* {
  margin: 0.5rem;
  box-sizing: border-box;
}

body {
  background-color: rgba(236, 236, 62, 0.356);
}

footer {
  text-align: center;
}

.video {
  margin: auto;
  text-align: center;
}

@media (max-width: 900px) {
  .pie {
    width: 17rem;
    height: auto;
  }

  .video {
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  iframe {
    width: 17rem;
    height: auto;
    margin: auto;
  }
}
